*{margin: 0;
padding: 0;}

body{background-image: url(/img/back4.jpg);
background-position: center 0px ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
overflow: hidden;

}


img{animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation:fadeIn 3s ease 0s 1 normal;
　　}
    
    
@keyframes fadeIn
{
   0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
@-webkit-keyframes fadeIn
    {
     0% {opacity: 0}
    100%{opacity: 1};}
    
}

  
}

.img {display: block;
    position: absolute;
    left:500px;
  
}



p{color: darkslateblue;
 font-size: 60px;
    font-family: "MS P ゴシック",sans-serif;
}





a{background-color: aquamarine;
 color: white;
    height: 40px;
    width: 40px;
 font-size: 20px;
 padding: 40px;
 text-decoration: none;
 border-radius: 55%;
    -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 position: absolute;
right: 100px;
bottom:100px;
}

a:hover{background-color:floralwhite;
    transition: 0.5s;
    color: aquamarine;}
  
p{font-size: 100px;
color: aquamarine;
position: absolute;
right: 220px;
top:500px;}


